body {
    font-family: 'Roboto', sans-serif;
}

.social {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
.social .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social a {
    text-decoration: none;
}
.social a:hover {
    text-decoration: underline;
}

.social span {
    display: flex;
    line-height: 2rem;
    height: 2rem;
}
.social span .inline-svg {
    margin-right: 10px;
}
.social span::after {
    content: "::";
    padding: 0 10px;
}
.social span:last-child::after {
    content: "";
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}