<!--
To add an extended footer section, please create
`layouts/partials/extended_footer.html` in your Hugo directory.
-->
<div class="social">
    <div class="wrapper">
        <span>{{ partial "icon.html" "discord" }}<a href="https://discord.gg/JHT8A8u">Discord</a></span>
        <span><a href="https://ko-fi.com/bassforce86">Donations</a></span>
        <span><a href="https://chrome.google.com/webstore/detail/hllemmijalhngocmppobjmlebadphhho">Chrome Web Store</a></span>
    </div>
</div>