
<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}

<footer class="footer">
  <div class="footer__inner">
    <div class="copyright copyright--user">
      <span>© {{ now.Year }} {{ $.Site.Copyright | safeHTML }}</span>
      <span>::&nbsp; Made by <a href="https://somecode.dev">somecode.dev</a></span>
    </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
